body {
  padding-top: 70px; /* cause navbar is fixed */
  background-color: #FCFCFC;
}

.container {
  width: 100%; /* shiny navbar is not fluid*/
}

/* cart pill to right*/
#tabset > li:nth-child(3) {
  float: right!important;
}

#tabset > li:nth-child(2) {
  display: none;
}

/* fixing radiobuttons labels */
#category > div > div > label > span:nth-child(4){
  min-width: 300px;
  padding-left: 20px;
  top: -0.2px;
  vertical-align: text-top;
}

/* table vertical alling */
.table > tbody > tr > td {
  vertical-align: middle;
}
/* navbar brand */
.navbar-brand{
  padding-top: 22px;
}

/* grid product list */
.prodbox {
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 10px;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .5s ease-in;
}

.prodboxinner {
 padding: 5px; 
}

.photocontent {
  height: 250px;
}